<a href="https://colab.research.google.com/github/ussalbt/datascience/blob/main/datetime%20%C3%A7al%C4%B1%C5%9Fma%20notlar%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"hello1".upper()  # lower' ı  ♫ upper a çevirir

'HELLO1'

In [ ]:
"hELLO".upper()

'HELLO'

In [ ]:
"WORLD".lower()  # upper'ı ♫ lower a çevirir

'world'

In [ ]:
"World".lower()

'world'

In [ ]:
"How are you today".islower()  # lower olup olmadıgına bakar tümü lower ise true döndürür(bool değerleri döndürür.)

False

In [ ]:
"how are you today".islower()

True

In [ ]:
"In the end,the good always win".isupper()   # upper olup olmadıgına bakar tümü upper ise true döndürür(bool değerleri döndürür.)

False

In [ ]:
"In the end,the good always win".upper()

'IN THE END,THE GOOD ALWAYS WIN'

In [ ]:
'IN THE END,THE GOOD ALWAYS WIN'.isupper() #  :)

True

In [ ]:
"In the end,the good always win".title()  # kelimelerin baş harfini büyük yapar.

'In The End,The Good Always Win'

In [ ]:
"8".isdigit() # rakamlardan oluşrur

True

In [ ]:
"½".isnumeric()  # sayısal karakterler olmalı

True

In [ ]:
"½".isdigit()  # rakam olmadığı için false verdi.

False

In [ ]:
sentence = "write a sentence"
sentence.replace("write", "say")

'say a sentence'

In [ ]:
sentence.replace("w","v")

'vrite a sentence'

In [ ]:
sentence_1 = "Splits each string with the given pattern "  # boşluga göre ayırır.
sentence_1.split(" ")

['Splits', 'each', 'string', 'with', 'the', 'given', 'pattern', '']

In [ ]:
sentence_1 = "Splits each string with the given pattern"
sentence_1.split()

['Splits', 'each', 'string', 'with', 'the', 'given', 'pattern']

In [ ]:
sentence_1 = "Splits each string with the given pattern" # split içindeki ifadeyi görür görmez böler.
sentence_1.split("a")

['Splits e', 'ch string with the given p', 'ttern']

In [ ]:
 # sentence_1.contains(r = "iv")  #  düzenle

In [ ]:
words = "    butterfly,    air, animal    "  # başta ve sondaki boşlukları siler.
words.strip()

'butterfly,    air, animal'

In [ ]:
words = "    butterfly,    air, animal    "  # sondaki(right) boşlukları siler.
words.rstrip()

'    butterfly,    air, animal'

In [ ]:
words = "    butterfly,    air, animal    "  # baştaki(left) boşlukları siler.
words.lstrip()

'butterfly,    air, animal    '

In [ ]:
"In the end,the good always win".find("t")  # ilk hangi indexte gördüyse o indexi verir. dipnot:boşluklar da indextir

3

In [ ]:
"In the end,the good always win".find("g")  # case sensitive dir.her zaman pozitif döndürür.

15

In [ ]:
"In the end,the good always win".find("O")  # negatif döndüğünde bulamadığı anlamı çıkar.

-1

In [ ]:
"In the end,the good always win".rfind("n") # sondan ilk gördüğünü yani en sağdakini alır.

29

In [ ]:
"In the end,the good always win".find("e" ,5,30) # indekten sonrası alınır

5

In [ ]:
import re
s1 = pd.Series(['Tiger', 'Deer', 'Zoo'])

In [ ]:

s1.str.findall("DEER")

0    []
1    []
2    []
dtype: object

In [ ]:
s1.str.findall('DEER', flags=re.IGNORECASE)

0        []
1    [Deer]
2        []
dtype: object

In [ ]:
import numpy as np  # numerical paython = 
import pandas as pd 
import re  # regular expression= düzenli ifadeler

In [ ]:
orders = pd.read_table("http://bit.ly/chiporders")

In [ ]:
orders.item_name.str.upper()

0                CHIPS AND FRESH TOMATO SALSA
1                                        IZZE
2                            NANTUCKET NECTAR
3       CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                                CHICKEN BOWL
                        ...
4617                            STEAK BURRITO
4618                            STEAK BURRITO
4619                       CHICKEN SALAD BOWL
4620                       CHICKEN SALAD BOWL
4621                       CHICKEN SALAD BOWL
Name: item_name, Length: 4622, dtype: object

In [ ]:
orders.item_name.str.lower()

0                chips and fresh tomato salsa
1                                        izze
2                            nantucket nectar
3       chips and tomatillo-green chili salsa
4                                chicken bowl
                        ...
4617                            steak burrito
4618                            steak burrito
4619                       chicken salad bowl
4620                       chicken salad bowl
4621                       chicken salad bowl
Name: item_name, Length: 4622, dtype: object

In [ ]:
orders.item_name.str.isupper()

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

In [ ]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
orders.item_name.str.islower()

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

In [ ]:
orders.item_name.str.contains("Chicken")

0       False
1       False
2       False
3       False
4        True
        ...
4617    False
4618    False
4619     True
4620     True
4621     True
Name: item_name, Length: 4622, dtype: bool

In [ ]:
orders.choice_description.str.replace("[","").str.replace("]","")

C:\Users\Yusuf\AppData\Local\Temp/ipykernel_1148/62874202.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  orders.choice_description.str.replace("[","").str.replace("]","")

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [ ]:
orders.choice_description.str.replace("[\[\]]","")

C:\Users\Yusuf\AppData\Local\Temp/ipykernel_1148/836119646.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  orders.choice_description.str.replace("[\[\]]","")

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [ ]:
sr = pd.Series(['New_York', 'Lisbon', 'Tokyo', 'Paris', 'Munich'])
idx = ['City 1', 'City 2', 'City 3', 'City 4', 'City 5']
sr.index = idx
sr

City 1    New_York
City 2      Lisbon
City 3       Tokyo
City 4       Paris
City 5      Munich
dtype: object

In [ ]:
result = sr.str.contains(pat = 'is')
result

City 1    False
City 2     True
City 3    False
City 4     True
City 5    False
dtype: bool

In [ ]:
result = sr.str.contains(pat = 'IS', flags = re.IGNORECASE) # büyük küçük harflere duyarşlılıgı kaldırır
result

City 1    False
City 2     True
City 3    False
City 4     True
City 5    False
dtype: bool

to_datetime()
strftime
strptime
timedelta

In [ ]:
from datetime import datetime
current_date = datetime.now()
current_date

datetime.datetime(2022, 1, 29, 1, 55, 24, 529378)

In [ ]:
from datetime import datetime
current_date = datetime.now()
print(current_date)
print(current_date.date())
print(current_date.day)
print(current_date.month)
print(current_date.year)
print(current_date.strftime("%d"))
print(current_date.strftime("%B"))
print(current_date.strftime("%W"))  # yılın kacıncı haftsası

2022-01-29 01:55:24.549364
2022-01-29
29
1
2022
29
January
04

In [ ]:
from datetime import datetime
from datetime import date

from datetime import timedelta
import datetime

In [ ]:
str1 = "2022-01-30"
date1 = datetime.strptime(str1, "%Y-%m-%d")
print(date1)

AttributeError: module 'datetime' has no attribute 'strptime'

In [ ]:
current_date = datetime.datetime.now()
date_after_10_days = current_date + timedelta(days = 10, weeks = 5)
print("Today date: ", current_date)
print("Date after 10 days : ", date_after_10_days)

Today date:  2022-01-29 01:59:24.871698
Date after 10 days :  2022-03-15 01:59:24.871698

In [ ]:
print("Today date: ", current_date.date())
print("Date after 10 days : ", date_after_10_days.date())

Today date:  2022-01-29
Date after 10 days :  2022-02-08

# Get_Dummies Method

In [ ]:
df2 = pd.DataFrame([("A101", 184),
                    ("ŞOK", 188),
                    ("Migros", 195),
                    ("BIM", 186)],
            columns = ("market_name","amount")
                  )
df2

  market_name  amount
0        A101     184
1         ŞOK     188
2      Migros     195
3         BIM     186

In [ ]:
pd.get_dummies(df2, columns = ["market_name"])

,amount,market_name_A101,market_name_BIM,market_name_Migros,market_name_ŞOK
0,184,1,0,0,0
1,188,0,0,0,1
2,195,0,0,1,0
3,186,0,1,0,0

In [ ]:
pd.get_dummies(df2, columns = ["market_name"], prefix = "Bakkal")

   amount  Bakkal_A101  Bakkal_BIM  Bakkal_Migros  Bakkal_ŞOK
0     184            1           0              0           0
1     188            0           0              0           1
2     195            0           0              1           0
3     186            0           1              0           0

In [ ]:
df2 = pd.DataFrame([("A101", 184),
                    ("ŞOK", 188),
                    ("Migros", 195),
                    ("Migros", 186)],
            columns = ("market_name","amount")
                  )
df2

  market_name  amount
0        A101     184
1         ŞOK     188
2      Migros     195
3      Migros     186

In [ ]:
pd.get_dummies(df2, columns = ["market_name"], prefix = "Super_market", prefix_sep = "-*-")

   amount  Super_market-*-A101  Super_market-*-Migros  Super_market-*-ŞOK
0     184                    1                      0                   0
1     188                    0                      0                   1
2     195                    0                      1                   0
3     186                    0                      1                   0