<a href="https://colab.research.google.com/github/ussalbt/datascience/blob/main/DAwPy_Preclass_7%268%269.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAwPy_Preclass_7&8&9

- apply() : Apply a function along an axis of the DataFrame. Series in given axis are passed to the function.
    * Row or Column Wise Function Application: apply()
    * Element wise Function Application: applymap()
    * Function application on Series : map()
Dealing with unique values in a column using; 
- unique() :Compute array of unique values in a Series, returned in the order observed
- nunique(): gives the number of unique values
- value_counts() :Return a Series containing unique values as its index and frequencies as its values, ordered count in descending order
- sort_values() method Sorting a DataFrame by a column. It accepts a 'by' argument with column name.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [5]:
df = sns.load_dataset("penguins")
df.head()

  species     island  bill_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen            39.1  ...              181.0       3750.0    Male
1  Adelie  Torgersen            39.5  ...              186.0       3800.0  Female
2  Adelie  Torgersen            40.3  ...              195.0       3250.0  Female
3  Adelie  Torgersen             NaN  ...                NaN          NaN     NaN
4  Adelie  Torgersen            36.7  ...              193.0       3450.0  Female

[5 rows x 7 columns]

In [6]:
df["sex_num"] = df.sex.map({"Female":0, "Male":1})

In [7]:
df.loc[:4,["sex","sex_num"]]

      sex  sex_num
0    Male      1.0
1  Female      0.0
2  Female      0.0
3     NaN      NaN
4  Female      0.0

In [8]:
df["species_length"] = df["species"].apply(len)

In [9]:
df.species.nunique()

3

In [10]:
df.species.unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [11]:
df.loc[::170, ["species","species_length"]]

       species  species_length
0       Adelie               6
170  Chinstrap               9
340     Gentoo               6

In [12]:
df["bill_depth_mm_ceil"] = df.bill_depth_mm.apply(np.ceil)

In [13]:
df.loc[:4, ["bill_depth_mm_ceil", "bill_depth_mm"]]

   bill_depth_mm_ceil  bill_depth_mm
0                19.0           18.7
1                18.0           17.4
2                18.0           18.0
3                 NaN            NaN
4                20.0           19.3

In [14]:
# df["bill_depth_mm_round"] = df.bill_depth_mm.apply(round)

# apply komutuna fonksiyon göndermek

In [18]:
hotels = pd.read_csv("hotel_booking_data.csv")

FileNotFoundError: ignored

In [15]:
hotels.name

NameError: ignored

In [19]:
hotels.name.str.split(" ").head()

NameError: ignored

In [ ]:
def get_surnames(lst, position):
    return lst[position]

In [ ]:
hotels.name.str.split(" ").apply(get_surnames, position = -1)

# apply komutuna lambda gönderme

In [20]:
hotels.name.str.split(" ").apply(lambda x : x[-1])

NameError: ignored

# apply komutunda axis kullanımı

In [ ]:
df1 = sns.load_dataset("penguins")
df1.head(1)

In [ ]:
df1.loc[:,"bill_length_mm" : "flipper_length_mm" ].head(3)

In [ ]:
df1.loc[:,"bill_length_mm" : "flipper_length_mm" ].apply(max, axis=0)

In [ ]:
df1.loc[:,"bill_length_mm" : "flipper_length_mm" ].apply(max, axis=1).head(3)

In [ ]:
df1.loc[:,"bill_length_mm" : "flipper_length_mm" ].apply(np.argmax, axis=1)

In [ ]:
df1.loc[:,"bill_length_mm" : "flipper_length_mm" ]  #NaN'lara dikkat

# applymap()
Dataframe'deki her elemana fonksiyonu birer birer tatbik eder.

In [ ]:
df1.loc[:,"bill_length_mm" : "flipper_length_mm" ].info()

In [ ]:
df1.loc[:,"bill_length_mm" : "flipper_length_mm" ].applymap(str).info()

# Handling Missing Values in Pandas Dataframe

![image.png](attachment:image.png)

In [ ]:
df1.isnull()

In [ ]:
df1.isnull().sum()

In [ ]:
df1.isnull().sum().sum()

# filling Null values

In [ ]:
df2= df1.fillna(value=0)
df2

In [ ]:
df2.isnull().sum().sum()

## yakın değer ile doldurma

- Yakın değer ile doldurma .fillna(method=   )
    * 'backfill' ==> 
    * 'bfill'    ==> filling next value #(axis=1) olursa SAĞINDAKİ değer ile doldurur.
    * 'pad'      ==> filling previous value #(axis=1) olursa SOLUNDAKİ değer ile doldurur.
    * 'ffill'    ==> 

- Ayrı sütunlara değer atama:
   fillna({"colomn1" : value1 , "colomn2" : value2})

In [ ]:
df3= df1.fillna(method="pad", axis=0)
df3

In [ ]:
df4= df1.fillna(method="pad", axis=1)
df4

In [ ]:
df5= df1.fillna(method="bfill", axis=0)
df5.tail(6)

In [ ]:
df6= df1.fillna(method="bfill", axis=1)
df6

## mean(), max(),min() ile doldurma
- fillna(value=df["colomn"].mean())
- fillna(value=df["colomn"].max())
- fillna(value=df["colomn"].min())

In [ ]:
df7= df1.fillna(value=df1["bill_length_mm"].mean())
df7

In [ ]:
df8= df1.fillna(value=df1["bill_length_mm"].max())
df8

# dropna()
- dropna(how = "all") hepsi null olanları düşürür.
- dropna(how = "any") 1 tane dahi null var ise düşürür.

In [ ]:
df9 = df1.dropna(how="all")
df9

In [ ]:
df10 = df1.dropna(how="any")
df10

## replace()
- df.replace(to_replace=np.nan , value = xxx) # null değerleri değiştirme
- df.replace(to_replace=yyy , value = zzz) # herhangi bir değerleri değiştirme

In [ ]:
df11 = df1.replace(to_replace=np.nan , value = "bu satır boş")
df11

## interpolate()
- df.interpolate(method = "linear", limit_direction = ["both","forward","backward"])

In [ ]:
df12 = df1.interpolate(method = "linear")
df12

In [ ]:
df13 = df1
df13.iloc[2,2] = np.nan
df13

In [ ]:
df14 = df13.interpolate(method = "ffill")
df14

# Outliers

In [ ]:
dfd = sns.load_dataset("diamonds")
dfd

In [ ]:
xx = dfd.carat
xx

In [ ]:
xx.describe()

In [ ]:
Q1 = xx.quantile(0.25)
Q3 = xx.quantile(0.75)
IQR = round((Q3 - Q1),1)
# IQR = Q3 -Q1
print(Q1, Q3, IQR)

In [ ]:
lower_lim = Q1 - 1.5*IQR
upper_lim = Q3 + 1.5*IQR
lower_lim, upper_lim

In [ ]:
outliers= xx[(xx<lower_lim) | (xx>upper_lim)]
outliers

In [ ]:
no_outliers = xx[~((xx<lower_lim) | (xx>upper_lim))]
no_outliers

In [ ]:
no_outliers2 = xx[(xx>=lower_lim) & (xx<=upper_lim)]
no_outliers2