<a href="https://colab.research.google.com/github/ussalbt/datascience/blob/main/Time_Sensitive_Interview_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Time-Sensitive Interview Task

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

import warnings
warnings.filterwarnings("ignore")

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style("darkgrid")

In [ ]:
df_sales = pd.read_csv("sales_082020.csv")
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [ ]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [ ]:
df_cur = pd.read_csv("currency_rates_082020_EUR.csv")
df_cur.sample(10)

    currency       date        rate
147      JPY   8/8/2020  124.873400
74       CHF   8/5/2020    1.078185
15       GBP   8/6/2020    0.903835
218      BRL   8/9/2020    6.411100
122      THB   8/3/2020   36.705000
56       NZD   8/7/2020    1.786125
172      MYR   8/3/2020    4.949700
21       USD   8/2/2020    1.178035
204      CZK   8/5/2020   26.087100
99       DKK  8/10/2020    7.445250

In [ ]:
df_cur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

#### 1. How many rows in the sales dataset?

In [ ]:
df_sales.shape[0]

237671

#### 2. How many columns in the sales dataset?

In [ ]:
df_sales.shape[1]

10

#### 3. What is the total number of sellers?
#### Toplam satıcı sayısı nedir?

In [ ]:
df_sales.describe(include = object)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,date
count,237671,237671,237671,237671,237671,237655,119330,237671,237671
unique,139700,9,114227,9,226311,24,1134,22,7
top,x0aflhz7fd,GB,pzsiehl0,GB,fb59ug7bzkz5,Tops - Womens,Nike,GBP,2020-08-08
freq,218,134704,703,139203,177,45450,9575,139478,36541

In [ ]:
df_sales['seller_id'].nunique()

114227

#### 4. What is the total value of sales in EUR?
***Satışların EUR cinsinden toplam değeri nedir?***

In [ ]:
df_sales1 = df_sales.copy()

In [ ]:
df_sales1.date = pd.to_datetime(df_sales1.date)

In [ ]:
df_sales1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 18.1+ MB

In [ ]:
df_cur1 = df_cur.copy()

In [ ]:
df_cur1.date = pd.to_datetime(df_cur1.date)

In [ ]:
df_new = pd.merge(df_sales1, df_cur1, how = 'inner', on = ["currency","date"])
df_new.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935

In [ ]:
df_new['total'] = df_new.price / df_new["rate"]
df_new.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

In [ ]:
df_new.total.sum().round()

6471511.0

#### 5. Which brand has the highest number of purchases during the period?
#### ***5. Dönem içinde en çok hangi marka satın aldı?***

In [ ]:
df_sales1.brand.value_counts().head(1)

Nike    9575
Name: brand, dtype: int64

In [ ]:
df_sales1["brand"].value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Preen                    1
Wacoal                   1
Shu Uemura               1
Parker                   1
Vita Fede                1
Name: brand, Length: 1134, dtype: int64

In [ ]:
df_new[df_new["brand"] == "Nike"].total.sum()

385022.4140668997

In [ ]:
df_new.groupby('brand').total.sum().sort_values(ascending=False).head()

brand
Nike                385022.414067
Adidas              114211.542782
American Vintage     89939.908652
Brandy Melville      87735.664806
Dr. Martens          81491.623673
Name: total, dtype: float64

#### 6. How many items in the “Jewellery” category have no brand associated with them?
#### ***"Mücevherat" kategorisindeki kaç öğenin kendileriyle ilişkili bir markası yok?***

In [ ]:
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [ ]:
df_sales[(df_sales.category == "Jewellery") & (df_sales.brand.isnull())].product_code.nunique()

10931

#### 7. How many brands have between 35 and 55 transactions (inclusive)?
#### ***7. 35 ile 55 arasında işlem (dahil) olan kaç marka var?***

In [ ]:
(df_sales.brand.value_counts() > 34).sum() - (df_sales.brand.value_counts() > 55).sum()

81

In [ ]:
sayılar = df_sales.groupby("brand").count()
sayılar

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,currency,price,date
brand,,,,,,,,,
& Other Stories,151,151,151,151,151,151,151,151,151
032c,11,11,11,11,11,11,11,11,11
11 Degrees,33,33,33,33,33,33,33,33,33
1822 Denim,8,8,8,8,8,8,8,8,8
3.1 Phillip Lim,10,10,10,10,10,10,10,10,10
...,...,...,...,...,...,...,...,...,...
ghd,35,35,35,35,35,35,35,35,35
kensie,1,1,1,1,1,1,1,1,1
liquid blue,52,52,52,52,52,52,52,52,52
mixxmix,12,12,12,12,12,12,12,12,12
philosophy,4,4,4,4,4,4,4,4,4

In [ ]:
sayılar[(sayılar.price >= 35) & (sayılar.price <= 55)].shape

(81, 9)

#### 8. How many pairs of shoes were purchased by Australian (AU) buyers?
#### ***8. Avustralyalı (AU) alıcılar kaç çift ayakkabı satın aldı?***

In [ ]:
df_sales.head(1)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03

In [ ]:
df_sales.category.value_counts()

Tops - Womens        45450
Tops - Mens          32611
Bottoms - Womens     30001
Shoes                21764
Accessories          21153
Dresses              19238
Jewellery            14923
Beauty                8746
Other                 6599
Outerwear             6321
Bottoms - Mens        5763
Lingerie              5301
Outerwear - Mens      4156
Tech                  3496
Home                  3477
Music                 2510
Kids                  2135
Art                   1777
Books & magazines     1081
Film                   466
Sports equipment       413
Underwear              177
Transportation          90
UNSPECIFIED              7
Name: category, dtype: int64

In [ ]:
df_sales.buyer_country.value_counts()

GB     134704
US      82661
AU       7868
IE       4046
RoW      2880
IT       2532
CA       2247
DE        466
FR        267
Name: buyer_country, dtype: int64

In [ ]:
df_sales[(df_sales['category']=='Shoes') & (df_sales['buyer_country']=='AU')].shape[0]

658

#### 9. Which brand has the highest average transaction value?
#### 9. Hangi marka en yüksek ortalama işlem değerine sahip?

In [ ]:
df_new.head(1)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.24868

In [ ]:
df_new.groupby('brand')['total'].mean().sort_values(ascending=False).head(1)

brand
Goyard    338.926936
Name: total, dtype: float64

#### 10. What is the total value of items purchased by GB buyers from GB sellers?
#### 10. GB alıcılar tarafından GB satıcılarından satın alınan ürünlerin toplam değeri nedir?

In [ ]:
df_new[(df_new['seller_country']=='GB') & (df_new['buyer_country']=='GB')].total.sum()

3526745.033129233

In [ ]:
df_new[(df_new['seller_country']=='GB') & (df_new['buyer_country']=='GB')].price.sum()

3184495.5799999996

#### 11. What percentage of US sellers' transactions were purchased by US buyers?
#### 11. ABD'li satıcıların işlemlerinin yüzde kaçı ABD'li alıcılar tarafından satın alındı?

In [ ]:
df_new.head(5)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

In [ ]:
x = df_new[(df_new['seller_country']=='US') & (df_new['buyer_country']=='US')].total.sum()

In [ ]:
y = df_new[(df_new['seller_country']=='US')].total.sum()

In [ ]:
x/y

0.9596922067159569

In [ ]:
df_new[(df_new['seller_country']=='US') & (df_new['buyer_country']=='US')].total.sum() / df_new[(df_new['seller_country']=='US')].total.sum()

0.9596922067159569